{% extends "base.html" %}
{% block content %}
<div id="login-wrapper" class="col s4  offset-s4">
    <p>User login</p>
    <form>
        <label>Email Address</label>
        <input type="text" title="Email Address">
        <label>Password</label>
        <input type="password" title="Password">
        <button class="btn waves-effect waves-light" id="login-button" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock %}
