{% extends "base.html" %}
{% block head_content %}
    <!-- javascript logic for login -->
    <script src="{{ url_for('static', filename='javascripts/login.js') }}"></script>
{% endblock %}

{% block navbar_content %}
    <ul class="right">
        <li><a href="/signup">Sign up</a></li>
    </ul>
{% endblock %}


{% block body_content %}
<div id="login-wrapper" class="col s4  offset-s4">
    <p>User login</p>
    <form method="POST" id="login-form" action="/login">
        <label>Email Address</label>
        <input type="text" name="email" title="Email Address">
        <label>Password</label>
        <input type="password" name="pass" title="Password">
        <button class="btn waves-effect waves-light" id="login-button" type="submit">Login</button>
    </form>
</div>
{% endblock %}
