{% extends "base.html" %}
{% block head_content %}
{% endblock %}

{% block navbar_content %}
<ul class="right">
    <li><a href="/signup">Sign Up</a></li>
    <li class="active"><a href="#">Log in</a></li>
</ul>
{% endblock %}


{% block body_content %}
<div id="form-wrapper" class="col s12 m8 offset-m2 l4 offset-l4">
    <div id="result"></div>
    <p>Password reset</p>
    <p>Please enter your new password twice below.</p>
    <form method="POST" id="reset-pass" action="/reset-{{secret}}">
        <label>New password</label>
        <input type="password" name="password" title="Password">
        <label>Password confirmation</label>
        <input type="password" name="confirm-password" title="Password confirmation">
        <button class="btn waves-effect waves-light" id="reset-button" type="submit">Reset password</button>
    </form>
</div>
{% endblock %}
