{% extends "base.html" %}

{% block head_content %}
    <script src="{{ url_for('static', filename='javascripts/interest.js') }}"></script>
{% endblock %}

{% block navbar_content %}
    <ul class="right">
        <li><a href="/logout" class="waves-effect waves-light #c62828 red darken-3">Log out</a></li>
    </ul>
{% endblock %}

{% block body_content %}

    <div id="santa-display" class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card #689f38 light-green darken-2">
            <div class="card-content white-text">
                <span class="card-title">Secret Santa Info</span>
                <p>Sorry {{ firstName }}, your gift reciever hasn't been determined</p>
            </div>
        </div>
    </div>
    
    <div id="interest-display" class="col s7 offset-s3">
        <div class="card #689f38 light-green darken-2">
            <div id="interest-holder" class="card-content white-text">
                <span class="card-title">Your interests</span>
                <p>Please wait, interests loading...</p>
            </div>
        </div>
    </div>

{% endblock %}