{% extends "base.html" %}

{% block head_content %}
    <script src="{{ url_for('static', filename='javascripts/interest.js') }}"></script>
{% endblock %}

{% block navbar_content %}
    <ul class="right">
        <li><a id="logout-button" href="/logout" class="waves-effect waves-light #c62828 red darken-3">Log out</a></li>
    </ul>
{% endblock %}

{% block body_content %}

    <div id="santa-display" class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card #689f38 light-green darken-2">
            <div class="card-content white-text">
                <span class="card-title">Secret Santa Info</span>
                {% if recipient_name is not none %}
                    <span id="recipient-name"><p>Your gift recipient is {{ recipient_name }}!</p></span>
                {% else %}
                    <span id="recipient-name"><p>Sorry {{ firstName }}, your gift recipient hasn't been determined</p></span>
                {% endif %}
                <span id="recipients-interests"></span>
            </div>
        </div>
    </div>

    <div id="interest-display" class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card #ff8a80 red accent-1">
            <div class="card-content white-text">
                <span class="card-title">Your interests</span>
                <div id="interest-holder">
                    <p>Please wait, interests loading...</p>
                </div>
                <form id="add-interest">
                    <div class="input-field">
                        <input name="new-interest" placeholder="Insert an interest (e.g programming)" id="add-interest-form" type="text" class="validate">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}